<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <title>About</title>
    </head>
    <body>
        <div class="main_content">

            <h1>
                {{>header}}
            </h1>
            
        
        <img class="about_img" src="/img/weatherforecastbackgroun_635273.jpg">
        <p>Get the weather for any location</p>
        </div>
        

        {{>footer}}
    </body>
    
        
</html>