<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <title>Help</title>
    </head>
    <body>
        <div class="main_content">
             <h1>
                {{>header}}
             </h1>
             
        </div>
       
        {{>footer}}
    </body>
       
    
</html>